div{
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);

}

#top-left{
   border: 10px solid black;
   
    position:right;
    width:200px;
    height: 200px;
}
hr{
    border: dotted rgb(3, 3, 41);
    border-style: none;
    border-top-style: double;
    border-width: 10px;
    width: 100%;
}
#intro{
    font-family: "Segoe UI";
    font-style: italic;
    border:1px solid black;
    height:100px;
}
#Interestandhobbies{
    font-family: "Segoe UI";
}
#LicensesandCertifications{
    font-family: "Segoe UI";
}
#lmao{
    font-family: "Segoe UI";
}

#head{
    font-family: "Segoe UI";
}
#social{
    font-family: "Segoe UI";
    text-align: center;
}
#skills{
    font-family: "Segoe UI";
}
#Education{
    font-family: "Segoe UI";
}




.grow img{
    transition: 1s ease;
    padding: 20px;
    }
    
    .grow img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;

    }

