div{
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);

}
#top-left{
    border :8px solid black;
    position:right;
    width:200px;
    height: 200px;
}
#intro{
    font-family: "Segoe UI";
   
}
#Interestandhobbies{
    font-family: "Segoe UI";
}
#LicensesandCertifications{
    font-family: "Segoe UI";
}
#lmao{
    font-family: "Segoe UI";
}

#head{
    font-family: "Segoe UI";
}
#social{
    font-family: "Segoe UI";
}
