div {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    color: #000000;
}


.quote {
    font-family: "verdana", "gillsans";
    border: 20px solid blue;
    padding: 13px 13px 13px 20px;
    margin: 10px auto;
    color: rgb(23, 23, 23);
}

span#author {
    text-transform: uppercase;
    color: black;
}

#mandatory {
    text-transform: uppercase;
}

#skills ol li {
  
    color: purple;
}

#skills1 ul li {
    
    color: blue;
}
/*#container {
 
   border: 12px solid blue;
   border-radius: 20px;
}*/
#default {
   
    width:50%;
    margin: auto;
}
#top-left{
    border :10px solid black;
    position:right;
    width:200px;
    height: 200px;
}